<p id="notice"><%= notice %></p>

<h1>Listing Topics</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic %></td>
        <td><%= pluralize(topic.votes.count, "vote") %></td>
        <td><%= button_to '+1', upvote_topic_path(topic), class: "btn btn-sm btn-primary", method: :post %></td>
        <td><%= button_to '-1', downvote_topic_path(topic), class: "btn btn-sm btn-warning", method: :post %></td>
        <td><%= link_to topic, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= fa_icon "trash-o", class: "btn btn-sm btn-danger" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>

<br>

<%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
